<footer class="relative bg-gray-300 pt-8 pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center md:justify-left justify-left">
      <div class="w-2/12 md:w-3/12">
        <button class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" onclick="window.open('https://github.com/anita-app/anita','_blank')">
          <ion-icon name="logo-github" class="mt-1" style="width: 1.5em; height: 1.5em;"></ion-icon>
        </button>
      </div>
      <div class="column-1 w-10/12 md:w-6/12 text-right md:text-center py-1">
        <div class="flex justify-end md:justify-center text-sm text-gray-600 font-semibold flex-wrap">
          Developed with <ion-icon name="heart-outline" class="text-red-800 self-end ml-1 mr-1" style="width: 1.2em; height: 1.2em;"></ion-icon> by humans & <a href="https://copilot.github.com/" target="_blank" class="ml-1"><u>GitHub Copilot</u></a>,
        </div>
        <div class="flex justify-end md:justify-center text-sm text-gray-600 font-semibold flex-wrap">
          made possible by <a href="/licenses.html" class="ml-1"><u>open source</u></a>.
        </div>
      </div>
    </div>
  </div>
  <!-- include-script-src -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script data-goatcounter="https://anita.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</footer>