<footer class="relative bg-gray-300 pt-8 pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center md:justify-left justify-left">
      <div class="w-6/12 md:w-4/12">
        <button class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" onclick="window.open('https://github.com/anita-app/anita','_blank')">
          <i class="flex fab fa-github"></i>
        </button>
      </div>
      <div class="w-6/12 md:w-4/12 text-right md:text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
          Developed with <i class="far fa-heart text-red-800"></i> by humans, made possible by <a href="/licenses.html"><u>open source</u></a>.
        </div>
      </div>
    </div>
  </div>
  <!-- include-script-src -->
</footer>