<div *ngIf="formData" class="form-group">
  <label [for]="formEle.fieldName">{{ formEle.label }}</label>
  <nb-radio-group [name]="formEle.fieldName" [(ngModel)]="valueRadio" (ngModelChange)="changedValue()">
    <nb-radio *ngFor="let option of formEle.options" [value]="option.value">
      {{ option.txt }}
    </nb-radio>
  </nb-radio-group>
  <app-required-label *ngIf="formEle.validators && formEle.validators.required"
    [formEle]="formData.controls[formEle.fieldName]"></app-required-label>
  <div class="invalid-feedback">
    Required field
  </div>
</div>