<div [nbSpinner]="isSaving" nbSpinnerMessage="Saving">
  <nb-card>
    <nb-card-header>
      Project's data structure
    </nb-card-header>
  </nb-card>

  <nb-card *ngIf="projectForm">
    <nb-card-body>
      <app-group-forms [formEles]="projectForm.formModel" [formData]="projectForm.formData"></app-group-forms>
    </nb-card-body>
  </nb-card>

  <div *ngFor="let sectionEles of dataStructureEles; index as i" class="p-3">
    <app-section-editor [sectionFieldsGroup]="sectionEles" [allIsValid]="allIsValid" [sectionIndex]="i"></app-section-editor>
  </div>

  <nb-card>
    <nb-card-footer class="d-flex justify-content-between">
      <button nbButton status="info" (click)="addSection()">Add section</button>
      <span>
        <button nbButton status="basic" class="mr-2" (click)="cancel()">Cancel</button>
        <button nbButton status="success" (click)="save()" [disabled]="!allIsValid.state || projectForm.formData.status === 'INVALID'">Save</button>
      </span>
    </nb-card-footer>
  </nb-card>
</div>