<section class="text-gray-700 body-font pb-20">
  <div class="container px-5 pb-16 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Features</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
        Anita is still in early beta yet is already very powerful and fully functional.
        We are improving it daily to add features and customization options.
      </p>
    </div>
    <!-- create-from-data-source="features.json" renderer="featuresList" -->

    <div class="xl:w-2/4 lg:w-3/4 mx-auto text-center mt-20">
      <!-- component="get-started.component.html" -->
    </div>
  </div>
</section>