<!-- Gradient Feature Section -->
<div class="bg-gradient-to-r from-prussian-blue-500 to-prussian-blue-300">
  <div class="mx-auto max-w-4xl px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:px-8 lg:pt-24">
    <h2 class="text-3xl font-bold tracking-tight text-white">Features</h2>
    <p class="mt-4 max-w-3xl text-lg text-purple-200">Anita has everything you need to organize your work and life, and we are improving it daily to add features and customization options.</p>
    <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
      
      <div>
        <div>
          <span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
            <ion-icon name="file-tray-stacked-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Free Data Structure</h3>
          <p class="mt-2 text-base text-purple-200">Create a data structure that suits your unique needs and define the relationships between them.</p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
            <ion-icon name="infinite-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Unlimited Projects</h3>
          <p class="mt-2 text-base text-purple-200">Create as many projects as you want. Each project is saved in its own file, available for easy retrieval.</p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
            <ion-icon name="cloud-offline-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Offline and local first</h3>
          <p class="mt-2 text-base text-purple-200">All your data is stored in a file on your file system and is always available when you need it, offline.</p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
            <ion-icon name="file-tray-stacked-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Sync between devices</h3>
          <p class="mt-2 text-base text-purple-200">Because your data is saved on a file, you can sync it between devices with the cloud of your choice (such as Dropbox).</p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
            <ion-icon name="shapes-outline" class="text-white" style="width: 1.4em; height: 1.4em;"></ion-icon>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Open formats</h3>
          <p class="mt-2 text-base text-purple-200">Your data is stored in open formats such as JSON and SQLite, so you can always access it with any compatible app.</p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
            <ion-icon name="desktop-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">No installation required</h3>
          <p class="mt-2 text-base text-purple-200">No installation is needed to use Anita, and yet it works offline and can be added to your system to quickly launch it.</p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
            <ion-icon name="phone-portrait-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Desktop and Mobile ready</h3>
          <p class="mt-2 text-base text-purple-200">Anita works seamlessly on any desktop and mobile device, on any operating system.</p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
            <ion-icon name="beer" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Free <i>(as in free beer)</i></h3>
          <p class="mt-2 text-base text-purple-200">Anita is a free and open source app, developed and maintained by a passionate team.</p>
        </div>
      </div>
    </div>
    <div class="xl:w-2/4 lg:w-3/4 mx-auto text-center mt-20">
      <!-- component="get-started.component.html" -->
    </div>
  </div>
</div>