<!-- Feature section with screenshot -->
<div class="pb-16 sm:pb-24 lg:pb-32 h-[1000px]">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <div>
      <h2 class="text-lg font-semibold text-prussian-blue-600">Try it now</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">A live demo is worth a thousand pictures.</p>
      <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">In the box below Anita is already up and running. You can start trying it out, all data will be saved on your device.</p>
    </div>
    <div class="mt-12 -mb-10 sm:-mb-24 lg:-mb-80 border border-prussian-blue-700 border-opacity-20 rounded shadow-xl bg-white">
      <iframe class="w-full h-[700px]" src="https://anita-app.github.io/app"></iframe>
    </div>
  </div>
</div>