<section class="relative z-10 mx-auto -mt-32 max-w-7xl px-4 pb-32 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
  <h2 class="sr-only" id="contact-heading">Contact us</h2>
  <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
    <div class="flex flex-col rounded-2xl bg-white shadow-xl">
      <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-blue-400 p-5 shadow-lg">
          <ion-icon name="briefcase-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
        </div>
        <h3 class="text-xl font-medium text-gray-900">Portable</h3>
        <p class="mt-4 text-base text-gray-500">Your data is stored on your computer in a single file per project. Move it around and sync it amongst devices however you want. Stay independent and in control.</p>
      </div>
      <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8">
        <a href="/app" class="text-base font-medium text-prussian-blue-500 hover:text-prussian-blue-300">Get started<span aria-hidden="true"> &rarr;</span></a>
      </div>
    </div>

    <div class="flex flex-col rounded-2xl bg-white shadow-xl">
      <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-blue-400 p-5 shadow-lg">
          <ion-icon name="shield-half-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
        </div>
        <h3 class="text-xl font-medium text-gray-900">Secure</h3>
        <p class="mt-4 text-base text-gray-500">There is no risk of a data breach like there is with cloud based solutions: Anita works fully offline. You keep your data where it's most safe, with you.</p>
      </div>
      <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8">
        <a href="/blog/articles/most-secure-cloud.html" class="text-base font-medium text-prussian-blue-500 hover:text-prussian-blue-300">Learn more<span aria-hidden="true"> &rarr;</span></a>
      </div>
    </div>
    
    <div class="flex flex-col rounded-2xl bg-white shadow-xl">
      <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-blue-400 p-5 shadow-lg">
          <ion-icon name="lock-closed-outline" class="text-white" style="width: 1.3em; height: 1.3em;"></ion-icon>
        </div>
        <h3 class="text-xl font-medium text-gray-900">Private</h3>
        <p class="mt-4 text-base text-gray-500">
          Anita is the privacy you want, the convenience you need. Your data is never exposed to a third party: no more middlemen, profiling or ads targeting.
        </p>
      </div>
      <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8">
        <a href="/app" class="text-base font-medium text-prussian-blue-500 hover:text-prussian-blue-300">Get started<span aria-hidden="true"> &rarr;</span></a>
      </div>
    </div>
  </div>
</section>