<section class="pb-20 relative block bg-gray-900">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4 lg:pt-24 lg:pb-24">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-8/12 px-4 mt-16 lg:mt-0">
        <h2 class="text-4xl font-semibold text-white">Help Anita move forward</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
          We're looking for people who are interested in making Anita better. There are many ways to get involved: you can help by giving Anita a try, reporting bugs, or suggesting new features.
        </p>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
          Open source software means that anyone can contribute. You don't need to be an experienced developer or hired gun, and you don't need any particular skills or qualifications.
        </p>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
          You can also help by spreading the word. Tell your friends about Anita and get involved!
        </p>
      </div>
    </div>
    <div class="flex flex-wrap mt-12 justify-center">

      <div class="w-full lg:w-4/12 px-4 text-center">
        <div>
          <a class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center" href="https://github.com/anita-app/anita">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <div class="mt-5">
          <a class="text-xl font-semibold text-white" target="_blank" href="https://github.com/anita-app/anita">
            Check the repository
          </a>
        </div>
        <div class="mt-2">
          <a class="mb-4 text-gray-500" target="_blank" href="https://github.com/anita-app/anita">
            The source code is hosted on GitHub, where you can contribute in multiple ways. All contributions are welcome.
          </a>
        </div>
      </div>

    </div>
  </div>
</section>