<span *ngIf="projectSystemData$ | async; let projectSystemData">
  <span *ngIf="userSectionData$ | async; let userSectionData; else noElements">
    <div *ngIf="userSectionData.length; else noElements">
      <app-elements-list [projectId]="projectId" [sectionId]="sectionId" [section]="projectSystemData[sectionsKey] | sectionById: sectionId" [elements]="userSectionData"></app-elements-list>
      <app-add-btn [url]="url"></app-add-btn>
    </div>
  </span>
  <ng-template #noElements>
    <app-no-elements></app-no-elements>
  </ng-template>
</span>