<nb-card *ngIf="sections$ |async; let sections" class="text-center">
  <nb-card-header>Nothing here yet</nb-card-header>
  <nb-card-body>
    <h5 class="card-title">There are no items in {{ (sections | sectionById: currentSectionId).title }}</h5>
    <p class="card-text">Create a new entry to populate this list.</p>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="info" [routerLink]="['/private/project/', currentProjectId, currentSectionId, 'add']">Add a new entry</button>
  </nb-card-footer>
</nb-card>