<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="application-name" content="Anita">
<meta name="msapplication-TileColor" content="#002346">

<!-- Favicons generated @ https://realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/icons/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/icons/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/icons/favicon/browserconfig.xml">
<meta name="theme-color" content="#002346">

<!-- include-styles-src -->

<link rel="stylesheet" href="/assets/fontawesome-free/css/all.min.css" />