<nb-layout center="center-column" windowMode>
  <nb-layout-header fixed>
    <app-header position="normal"></app-header>
  </nb-layout-header>

  <nb-sidebar *ngIf="(projects$ | async ).length" class="menu-sidebar" tag="menu-sidebar" responsive>
    <nb-sidebar-header *ngIf="currentTheme !== 'corporate'">
      {{ today | date }}
    </nb-sidebar-header>
    <ng-content select="nb-menu"></ng-content>
    <nb-sidebar-footer>
      <div class="text-muted"><small>v{{version}}</small></div>
    </nb-sidebar-footer>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

  <nb-sidebar class="settings-sidebar" tag="settings-sidebar" state="collapsed" fixed [end]="true">
    <div class="w-100">
    </div>
  </nb-sidebar>
</nb-layout>