<span *ngIf="formData" [formGroup]="formData" novalidate>
  <span *ngFor="let formEle of formEles.hidden; trackBy: trackFormEles; let i = index">
    <input [formControlName]="formEle.fieldName" type="hidden">
  </span>
  <nb-stepper [orientation]="stepperDirection">
    <nb-step *ngFor="let formEle of formEles.show; trackBy: trackFormEles; let i = index" [label]="formEle.label" [completed]="formData.controls[formEle.fieldName].status === 'VALID'">
      <p class="lead">Step {{ i + 1}}: {{formEle.label}} </p>
      <app-form-fields [componentCode]="formEle.componentCode" [formEle]="formEle" [formData]="formData"></app-form-fields>
      <div class="d-flex justify-content-end">
        <button nbButton status="primary" *ngIf="i < (formEles.show.length - 1)" [disabled]="formData.controls[formEle.fieldName].status !== 'VALID'" nbStepperNext>Next</button>
      </div>
    </nb-step>
  </nb-stepper>
</span>