<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between py-3 navbar-expand-lg bg-prussian-blue-400">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between z-50">
    <div class="flex-grow relative flex items-center lg:w-auto lg:static">
      <a class="text-lg font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="/">
        <img src="/assets/logo/logo_square.svg" style="height: 35px; width: auto;" alt="Anita">
      </a>
      <a class="text-lg font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="/">
        Anita
      </a>
    </div>
    <div class="items-center shadow-none">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="/blog">
            Blog
          </a>
        </li>
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="https://github.com/anita-app/anita">
            Source code
            <i class="ml-3 lg:text-gray-300 text-gray-500 fab fa-github text-xl leading-xl "></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>