<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between py-3 navbar-expand-lg bg-gradient-to-r from-prussian-blue-400 to-prussian-blue-700">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between z-50">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <div class="flex-grow relative flex items-center lg:w-auto lg:static">
        <a class="text-lg font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="/">
          <img src="/assets/logo/logo_square.svg" style="height: 35px; width: auto;" alt="Anita">
        </a>
        <a class="text-lg font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="/">
          Anita
        </a>
      </div>
      <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('main-collapse-navbar')">
        <ion-icon name="menu-outline" class="text-white" style="width: 1.5em; height: 1.5em;"></ion-icon>
      </button>
    </div>
    <div class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden" id="main-collapse-navbar">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="/blog">
            Blog
          </a>
        </li>
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="https://github.com/anita-app/anita">
            <span class="inline-block mr-2">Source Code</span> 
            <ion-icon name="logo-github" class="lg:text-gray-300 text-gray-500" style="width: 1.5em; height: 1.5em;"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>