#app-component-section {
  display: flex;
  flex-flow: column;
  height: 100%;
}
#app-component-content {
  flex: 2 ;
  overflow: auto;
}

.app-loading {
  -webkit-transition: visibility 0s 0.2s, opacity 0.2s linear;
  -moz-transition: visibility 0s 0.2s, opacity 0.2s linear;
  -ms-transition: visibility 0s 0.2s, opacity 0.2s linear;
  -o-transition: visibility 0s 0.2s, opacity 0.2s linear;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}