@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

/**
  * Ensure that the admin content area is full height, minus the navbar.
  */
.admin-container {
  height: calc(100vh - 3.5rem);
  overflow: hidden;
}

input[disabled],
button[disabled],
button[disabled]:hover {
  @apply bg-gray-200;
  @apply text-gray-700;
  @apply opacity-50;
  @apply cursor-not-allowed;
}

/**
  * Placed here because focus:border-b-4 does not work
  */
input:focus,
textarea:focus,
select:focus {
  border-bottom-width: 2px !important;
}
input.border-red-300:focus,
textarea.border-red-300:focus,
select.border-red-300:focus {
  border-width: 1px !important;
  border-bottom-width: 3px !important;
}
