@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Automatic headers numbering for blog articles
 * @see https://2ality.com/2012/01/numbering-headingshtml.html
 **/

body {
  counter-reset: h2counter;
}
h1 {
  counter-reset: h2counter;
}
article h2:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
  counter-reset: h3counter;
}
article h3:before {
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

/**
 * Blog layout
 **/

article h2 {
  @apply text-3xl;
}
article h3 {
  @apply text-2xl;
}
article h4 {
  @apply text-xl;
}
article h5 {
  @apply font-bold;
}
article h1,
article h2,
article h3,
article h4,
article h5 {
  @apply mt-3;
  @apply mb-2;
  @apply font-semibold;
  @apply leading-normal;
}

article h1 {
  @apply mt-8;
  @apply text-5xl;
  @apply mb-10;
}

article p {
  @apply text-justify;
  @apply my-4;
  @apply text-base;
}

article li {
  @apply text-justify;
  @apply text-base;
}

article ul {
  @apply list-disc;
  @apply list-outside;
  @apply pl-5;
}

article a {
  @apply text-prussian-blue-300;
  @apply underline;
}

.code-block {
  @apply my-6;
  @apply rounded-xl;
  @apply overflow-x-auto;
  @apply bg-gray-800;
  @apply text-white;
  @apply pt-3;
  @apply pl-5;
  @apply pb-3;
  @apply pr-5;
}

p code,
li code,
td code {
  @apply text-prussian-blue-600;
}

a code {
  @apply text-prussian-blue-600;
  @apply underline;
}

blockquote {
  @apply border-l-4;
  @apply px-3 py-1;
  @apply border-prussian-blue-600;
  @apply bg-gray-100;
}

ol {
  list-style: decimal;
  @apply pl-5;
}

 /**
  * Blog list
  **/

  .row-preview {
    width: 100%;
    max-height: 150px;
    position: relative;
    display: flex;
    flex-flow: column-reverse wrap;
    overflow: hidden;
  }
  
  .content-preview {
    max-height: 100%;
    overflow: hidden;
  }
  
  .background {
    width: 100%;
    height: 100px;
    position: relative;
  }
  
  .background:before {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    left: -100%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(transparent, white);
    pointer-events: none
  }