<div [nbSpinner]="isSaving" nbSpinnerMessage="Saving">
  <span *ngIf="section && sectionEles">
    <nb-card>
      <nb-card-header>{{ section.title }}</nb-card-header>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="p-4 pr-5">
          <app-group-forms [formEles]="sectionEles.formModel" [formData]="sectionEles.formData"></app-group-forms>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-secondary mr-3" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="sectionEles.formData.status !== 'VALID'" (click)="save(sectionEles.formData)">Save</button>
      </nb-card-footer>
    </nb-card>
  </span>
</div>